.chart-home{
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.684);
    overflow-x: hidden!important;
}

.chart-home h3{
    font-size: 1.3rem;
    color: gray;
    margin-bottom: 10px;
    padding: 5px;
    cursor: default;
}