.container-main {
  display: flex;
}

.link {
  text-decoration: none!important;
  color: inherit;
}

.container-app{
  overflow: hidden;
}

a{
  text-decoration: none!important;
  color: inherit!important;
}